body
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}
.sec1
{
  background-color: black;
}
.sec1 h1
{
  color: aliceblue;
}
.sec2
{
  background-color: white;
}
.sec3 
{
  background-color: black;
}
.sec3 p 
{
  font-size: larger;
  color: aliceblue;
}
.text-centerp3
{
  padding: 12px;
}
.text-centerp3 a
{
  text-decoration-line: none;
}